@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta Cep</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container" style="margin-top:30px">
        <h4>Consulta de Cep</h4>
        <form class="form-inline" method="post" asp-action="Consulta" asp-controller="Consulta">
            <div class="form-group mx-sm-1 mb-2">
                <label for="CepText" class="sr-only">Cep</label>
                <input type="text" class="form-control" id="TextCep" name="TextCep" placeholder="CEP">
            </div>
            <button type="submit" class="btn btn-primary mb-2" value="Consulta">Consultar/Cadastrar</button>
        </form>

        @if (ViewBag.Message != null)
        {
        <span>@ViewBag.Message</span>
        }
    </div>



    <div class="container" style="margin-top:10px">

        <table class="table table-sm">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Logradouro</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Localidade</th>
                    <th scope="col">UF</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Ibge</th>
                    <th scope="col">Gia</th>
                    <th scope="col">Complemento</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr>
                    <td> @item.Id  </td>
                    <td> @item.Cep  </td>
                    <td> @item.Logradouro  </td>
                    <td> @item.Bairro  </td>
                    <td> @item.Localidade  </td>
                    <td> @item.Uf  </td>
                    <td> @item.Unidade  </td>
                    <td> @item.Ibge  </td>
                    <td> @item.Gia  </td>
                    <td> @item.Complemento  </td>
                </tr>
                     }
                }
            </tbody>
        </table>
    </div>

</body>
</html>
